modules = ["nodejs-20", "web", "bun"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bun", "run", "preview"]
build = ["bun", "run", "build"]

[userenv]

[userenv.shared]
MISTRAL_API_KEY = "KCJaOK9X7ULWXud81dqbQxDqjc8IAqAh"
GITHUB_TOKEN = "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"
VITE_GOOGLE_CLIENT_ID = "1052146479355-pd9hs0qob6n1re4oc7fjv10g9ueaf0ls.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
